/*------------------------------------------------------------------------------
  1.0 - Settings Section
------------------------------------------------------------------------------*/

.settings-section {
	margin-bottom: 50px;
}

.settings-section:last-child {
	margin-bottom: 0;
}

.settings-section + p.submit {
	border-top: none;
	padding-top: 0;
}

/*------------------------------------------------------------------------------
  2.0 - Settings Fields
------------------------------------------------------------------------------*/

.settings-fields {
	border-collapse: collapse;
	margin-top: 20px;
	clear: both;
}

.settings-field {
	margin-bottom: 19px;
	font-size: 12px;
	line-height: 1.3;
}

.settings-field:last-child {
	margin-bottom: 0;
}

/*------------------------------------------------------------------------------
  3.0 - Settings Field Titles
------------------------------------------------------------------------------*/

.settings-field-title {
	display: block;
	color: #23282d;
	text-shadow: none;
	vertical-align: top;
	text-align: left;
	padding: 5px 10px 10px 0;
	font-size: 14px;
	font-weight: 600;
}

/*------------------------------------------------------------------------------
  4.0 - Settings Field Controls
------------------------------------------------------------------------------*/

.settings-field-control {
	padding: 3px 5px;
	font-size: 16px;
}

input[type="checkbox"].settings-field-control,
input[type="radio"].settings-field-control {
	margin: 0 4px 0 0;
}

input[type="checkbox"].settings-field-control + label,
input[type="radio"].settings-field-control + label,
.settings-field .radio-item label,
.settings-field .multibox-item label,
.settings-field .radio-item label code,
.settings-field .multibox-item label code,
.settings-field .radio-item .description,
.settings-field .multibox-item .description {
	font-size: 16px;
}

.settings-field .radio-item,
.settings-field .multibox-item {
	display: inline-block;
	line-height: 1.4em;
	margin: 0.25em 0 0.5em !important;
}

/*------------------------------------------------------------------------------
  5.0 - Settings Field Misc Content
------------------------------------------------------------------------------*/

.settings-field p {
	margin-top: 4px;
	margin-bottom: 0;
}

.settings-field .title-label {
	font-weight: 400;
}

.settings-field .date-time-doc {
	margin-top: 1em;
}

.settings-field p.timezone-info {
	margin: 1em 0;
}

.settings-field .pre {
	padding: 8px;
	margin: 0;
}

.settings-field .updated {
	font-size: 13px;
}

.settings-field .updated p {
	font-size: 13px;
	margin: 0.3em 0;
}

/*------------------------------------------------------------------------------
  6.0 - Responsive View
------------------------------------------------------------------------------*/

@media screen and ( max-width: 782px ) {
	.settings-fields {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.settings-field-title {
		padding-top: 10px;
		padding-bottom: 0;
		border-bottom: 0;
	}

	input[type="text"].settings-field-control,
	input[type="email"].settings-field-control,
	input[type="password"].settings-field-control,
	select.settings-field-control,
	textarea.settings-field-control,
	.settings-field span.description {
		width: 100%;
		font-size: 16px;
		line-height: 1.5;
		padding: 7px 10px;
		display: block;
		max-width: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	select.settings-field-control {
		height: 40px;
	}

	input[type="text"].settings-field-control.small-text {
		width: auto;
		max-width: 55px;
		display: inline;
		padding: 3px 6px;
		margin: 0 3px;
	}

	input.settings-field-control.regular-text {
		width: 100%;
	}

	.settings-field span.description {
		display: inline;
		padding: 4px 0 0;
		line-height: 1.4em;
		font-size: 14px;
	}

	.settings-fields label {
		font-size: 14px;
	}
}
