/*
This file is currently an exact representation of the Core markup.
However it is using the new classes instead of the Core table classes.
These styles can therefore be used as a starting point to move from the
old two-column layout to a modern one-column layout.
 */

/* Experimental: increase left padding as in marestad design. */
.settings .wrap {
	padding-left: 40px;
}

.setting {
	margin-top: 20px;
	max-width: 780px;
	clear: both;
}

.setting.last-in-section {
	margin: 0 0 50px;
}

.setting .form-required.form-invalid .control:after {
	content: "\f534";
	font: 400 20px/1 dashicons;
	color: #dc3232;
	margin-left: -25px;
	vertical-align: middle;
}

.setting .form-required.user-pass1-wrap.form-invalid .control:after {
	content: "";
}

.setting .form-required.user-pass1-wrap.form-invalid .password-input-wrapper:after {
	content: "\f534";
	font: 400 20px/1 dashicons;
	color: #dc3232;
	margin: 0 6px 0 -29px;
	vertical-align: middle;
}

/* Labels, text inside inputs, descriptions, checkboxes, and radios should be aligned. Needs some work. */
.setting input,
.setting textarea {
	margin: 0 0 0 -6px;
	padding: 5px;
	font-size: 16px;
}

.setting select {
	min-width: 140px;
	margin: 0 0 0 -9px;
	padding: 0 4px; /* No effect on webkit browsers. */
	font-size: 16px;
}

.settings .submit {
	margin-left: -6px;
	padding-top: 0;
}

.setting .field-title {
	color: #555d66;
	padding: 5px 10px 10px 0;
}

.setting .description {
	margin: 4px 0 0 0;
	font-size: inherit;
	font-style: normal;
	color: #555d66;
}

.setting .timezone-info:last-child,
.setting .date-time-doc {
	margin-bottom: 0;
}

.setting input[type="checkbox"],
.setting input[type="radio"] {
	margin: 0 4px 0 0;
}

.setting .title-label {
	font-size: 16px;
}

.setting .control {
	display: block;
	padding: 5px 0;
	line-height: 1.3;
}

.setting .radio-item,
.setting .multibox-item {
	display: inline-block;
	line-height: 1.4em;
	margin-top: 10px;
}

.setting .radio-item:first-child,
.setting .multibox-item:first-child {
	margin-top: 0;
}

.setting .pre {
	padding: 8px;
	margin: 0;
}

.setting .updated {
	font-size: 13px;
}

.setting .updated p {
	font-size: 13px;
	margin: 0.3em 0;
}

.setting code {
	margin: 0;
}

[for="date_format_custom_radio"],
[for="time_format_custom_radio"] {
	display: inline-block;
	min-width: 10em;
}

.setting .date-time-custom-format-input {
	margin: 0;
	padding: 3px 4px 2px 4px;
	font-family: Consolas, Monaco, monospace;
	font-size: 13px;
	vertical-align: middle;
	border: 1px solid transparent; /* Experimental design. */
	border-bottom: 2px solid #0073aa; /* Experimental design. */
	background: #f1f1f1; /* Experimental design. */
	-webkit-box-shadow: none; /* Experimental design. */
	box-shadow: none; /* Experimental design. */
}

.date-time-custom-format-input + .description {
	vertical-align: middle;
}

#profile-page .setting textarea {
	width: 500px;
	margin-bottom: 6px;
}

#profile-page .setting #rich_editing {
	margin-right: 5px;
}

@media screen and ( max-width: 782px ) {
	.setting {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.setting {
		display: block;
	}

	.setting .field-title,
	.setting .control {
		display: block;
		width: auto;
		vertical-align: middle;
	}

	.setting .color-palette td {
		width: 15px;
	}

	.setting table.color-palette {
		margin-right: 10px;
	}

	.setting input[type="text"],
	.setting input[type="email"],
	.setting input[type="password"],
	.setting select,
	.setting textarea,
	.setting span.description,
	#profile-page .setting textarea {
		width: 100%;
		font-size: 16px;
		line-height: 1.5;
		padding: 7px 10px;
		display: block;
		max-width: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.setting .form-required.form-invalid .control:after {
		float: right;
		margin: -30px 3px 0 0;
	}

	#wpbody .setting select {
		height: 40px;
	}

	.setting input[type="text"].small-text {
		width: auto;
		max-width: 55px;
		display: inline;
		padding: 3px 6px;
		margin: 0 3px;
	}

	.setting span.description {
		display: inline;
		padding: 4px 0 0;
		line-height: 1.4em;
		font-size: 14px;
	}

	.setting .field-title {
		padding-top: 10px;
		padding-bottom: 0;
		border-bottom: 0;
	}

	.setting .control {
		margin-bottom: 0;
		padding-bottom: 6px;
		padding-top: 4px;
		padding-left: 0;
	}

	.permalink-structure code {
		margin-left: 32px;
	}

	.permalink-structure input[type="text"] {
		margin-left: 32px;
		margin-top: 4px;
		width: 96%;
	}

	.setting input.regular-text {
		width: 100%;
	}

	.setting label {
		font-size: 14px;
	}

	.setting fieldset label {
		display: block;
	}
}

@media only screen and (max-width: 768px) {
	#profile-page .setting textarea {
		max-width: 400px;
		width: auto;
	}
}
